/* Activities Page */

.activity-bx {
  position: relative;
}

#hl-box-activities {
  background-image: url(/images/activities-assets/mobl/activities-hero-m.jpg);
}

#bx-activity {
  background-image: url(/images/activities-assets/mobl/activities-1.jpg);
}

.act-directory {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

.act-box h3 {
  font-size: 12px;
  color: #b8b8b8;
  border-radius: 9px;
}

.act-directory ul {
  list-style-type: none;
}

.act-directory ul li a {
  color: black;
}

.act-bx-sw {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #b8b8b8;
  border-radius: 9px;
  cursor: pointer;
}

.act-bx-sw h3 {
  color: #b8b8b8;
  font-size: 11px;
}

.act-bx-sw i {
  font-size: 12px;
  color: #b8b8b8;
  transition: 0.3s;
}

.act-bx-sw:hover {
  background-color: #9a2018;
  border: #9a2018;
}
.act-bx-sw:hover h3 {
  color: #f4f4f4;
}
.act-bx-sw:hover i {
  color: #f4f4f4;
  transform: rotate(90deg);
}

.acts {
  width: 345px;
  position: absolute;
  background-color: #efefef;
  display: none;
  z-index: 999;
}

.acts li {
  font-size: 12px;
  padding-top: 10px;
  text-align: left;
}

.acts li:last-child {
  padding-bottom: 10px;
}

.acts li:hover {
  text-decoration: underline;
}

.col3 {
  width: 75px;
}

.river-links,
.algonquin-park-links,
.sports-links {
  top: 45px;
  left: 0;
}

.wildlife-viewing-links,
.winter-links {
  top: 85px;
  left: 0;
}

#algonquin-park div {
  width: 140px;
}

#river div,
#sports div {
  width: 80px;
}

#wildlife-viewing div,
#winter div {
  width: 165px;
}

#algonquin-park:hover .algonquin-park-links,
#river:hover .river-links,
#sports:hover .sports-links,
#wildlife-viewing:hover .wildlife-viewing-links,
#winter:hover .winter-links {
  display: block;
}

#act-box img {
  width: 100%;
  margin-top: 20px;
}

#act-box h3 {
  font-size: 12px;
  padding-top: 20px;
  color: #9a2018;
}

#act-box h4 {
  font-size: 22px;
  padding-top: 10px;
}

#act-box p {
  font-size: 14px;
  margin-top: 20px;
}

.more-details {
  margin: 30px auto;
  font-size: 11px;
}

.more-details a {
  font-size: 11px;
  color: #9a2018;
  font-style: italic;
  text-decoration: underline;
}

.to-act-link {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin: 30px 0px;
}

.to-act-link a {
  color: #9a2018;
  text-decoration: underline;
}

/* Galeairy Lake */

#hl-box-galeairy-lake {
  display: flex;
  align-items: flex-end;
  height: 218px;
  background: url(/images/Galeairy-lake-assets/mobl/galeairy-hero-m.jpg)
    no-repeat;
}
