/* Grid & Layout Styles */

.grid-con {
  display: grid;
  grid-template-columns: repeat(4, 73px);
  column-gap: 30px;
  max-width: 412px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.col-span-full {
  grid-column: 1 / -1;
}

.full-span {
  width: 412px !important;
  transform: translateX(-15px) !important;
}
