@import url(./layout.css);
@import url(./roomtype.css);
@import url(./reset.css);
@import url(./chateau.css);
@import url(./reservation.css);
@import url(./activities.css);
@import url(./home.css);
@import url(./grid.css);

/* ---Utility Classes--- */

* {
  outline: 1px solid greenyellow;
}

.hidden {
  display: none;
}

/* ---Typography and Space Styles--- */

body {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  font-family: "Sanchez";
}

h1 {
  font-size: 3rem;
}

h2,
h3 {
  font-size: 2rem;
}

h4 {
  font-size: 0.7rem;
}

h5 {
  font-size: 0.9rem;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
}

.txt-red-cr {
  color: #9a2018;
}
.txt-wh-cr {
  color: #f4f4f4;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.cr-red {
  color: #9a2018;
}

.line-separator {
  margin-top: 20px;
  border-top: solid 3px #9a2018;
  padding-top: 20px;
}

.line-separator-grey {
  margin-top: 20px;
  border-top: solid 1px #626262;
  padding-top: 20px;
}

/* Form styling */

form label {
  margin-bottom: 5px;
}

select,
input {
  font-family: "Sanchez";
}

input,
textarea {
  display: block;
  margin: 0;
  box-sizing: border-box;
}

textarea {
  padding-top: 20px;
}

input {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px 0 5px 0;
  border-radius: 9px;
  border: 1px solid #999;
}

label {
  font-size: 12px;
}

textarea {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 9px;
  border: 1px solid #999;
  margin: 5px 0 5px 0;
}

.select-sty {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px 0 20px 0;
  border: 1px solid #999;
  border-radius: 9px;
  color: #999;
  appearance: none;
}

html {
  scroll-behavior: smooth;
}

.cta {
  font-size: 0.85rem;
  background-color: #9a2018;
  transition: 0.2s ease-in-out;
}

.cta:hover {
  background-color: #d92322;
}

.chev-dd {
  transition: 0.2s ease-in-out;
}

.chev-dd:hover {
  transform: rotate(90deg);
}

/* 2. ---Main Nav--- */

header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 998;
}

#main-nav label i {
  font-size: 1.25rem;
  color: #9a2018;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-bottom: 20px;
}

#burger-con {
  background-color: #9a2018;
  display: none;
}

#main-nav input {
  display: none;
}

#main-nav input:checked ~ #burger-con {
  display: block;
}

#main-nav input:checked ~ label i {
  transform: rotate(90deg);
}

#main-nav ul {
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0 20px 0;
}

#main-nav ul li {
  padding: 20px 0 20px 20px;
  transition: 0.2s ease-in-out;
  border-bottom: 1px solid #efefef;
}

#main-nav ul li a {
  padding: 10px 0;
  text-align: center;
  color: #efefef;
}

#main-nav ul li:hover {
  background-color: #d92322;
}

#logo {
  max-width: 382px;
  margin-bottom: 20px;
}

/* 3. ---Hero Section--- */

#hl-box {
  display: flex;
  align-items: flex-end;
  height: 218px;
  background: url(/images/room-type-assets/mobl/hero-m.jpg) no-repeat;
}

.hl-box {
  width: 320px;
  background-color: white;
  margin-left: 15px;
  padding: 20px 30px 10px 30px;
}

#hl-box-wo-image {
  display: flex;
  align-items: flex-end;
}

.hl-box-wo-image {
  margin: 20px 0 0px 15px;
}

/* Footer */

#footer-hero {
  width: 412px;
  margin: auto;
  background-image: url(/images/footer.jpg);
  color: white;
}

#footer-contact-info {
  padding: 0px 15px;
}

footer h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding: 30px 0 25px 10px;
}

footer p {
  padding: 0 0 30px 10px;
  font-size: 0.8rem;
  line-height: 22px;
}

#price-policy {
  text-align: center;
  font-size: 0.5rem;
}

/* Activities Page */

#hl-box-activities {
  display: flex;
  align-items: flex-end;
  height: 218px;
  background: url(/images/activities-assets/mobl/activities-hero-m.jpg)
    no-repeat;
}

.act-directory {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

.act-box h3 {
  font-size: 12px;
  color: #b8b8b8;
  border-radius: 9px;
}

.act-directory ul {
  list-style-type: none;
}

.act-directory ul li a {
  color: black;
}

.act-bx-sw {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #b8b8b8;
  border-radius: 9px;
  cursor: pointer;
}

.act-bx-sw h3 {
  color: #b8b8b8;
  font-size: 11px;
}

.act-bx-sw i {
  font-size: 12px;
  color: #b8b8b8;
  transition: 0.3s;
}

.act-bx-sw:hover {
  background-color: #9a2018;
  border: #9a2018;
}
.act-bx-sw:hover h3 {
  color: #f4f4f4;
}
.act-bx-sw:hover i {
  color: #f4f4f4;
  transform: rotate(90deg);
}

.acts {
  width: 345px;
  position: absolute;
  background-color: #efefef;
  display: none;
  z-index: 999;
}

.acts li {
  font-size: 12px;
  padding-top: 10px;
  text-align: left;
}

.acts li:last-child {
  padding-bottom: 10px;
}

.acts li:hover {
  text-decoration: underline;
}

.col3 {
  width: 75px;
}

.river-links,
.algonquin-park-links,
.sports-links {
  top: 45px;
  left: 0;
}

.wildlife-viewing-links,
.winter-links {
  top: 85px;
  left: 0;
}

#algonquin-park div {
  width: 140px;
}

#river div,
#sports div {
  width: 80px;
}

#wildlife-viewing div,
#winter div {
  width: 165px;
}

#algonquin-park:hover .algonquin-park-links,
#river:hover .river-links,
#sports:hover .sports-links,
#wildlife-viewing:hover .wildlife-viewing-links,
#winter:hover .winter-links {
  display: block;
}

#act-box img {
  width: 100%;
  margin-top: 20px;
}

#act-box h3 {
  font-size: 12px;
  padding-top: 20px;
  color: #9a2018;
}

#act-box h4 {
  font-size: 22px;
  padding-top: 10px;
}

#act-box p {
  font-size: 14px;
  margin-top: 20px;
}

.more-details {
  margin: 30px auto;
  font-size: 11px;
}

.more-details a {
  font-size: 11px;
  color: #9a2018;
  font-style: italic;
  text-decoration: underline;
}

.to-act-link {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin: 30px 0px;
}

.to-act-link a {
  color: #9a2018;
  text-decoration: underline;
}

/* Galeairy Lake */

#hl-box-galeairy-lake {
  display: flex;
  align-items: flex-end;
  height: 218px;
  background: url(/images/Galeairy-lake-assets/mobl/galeairy-hero-m.jpg)
    no-repeat;
}
