/* Table of Contents */
/* 1.Request Detail Section */
/* 2.Guest Info Section */
/* 3.Payment Section */
/* 4.Animation */
/* 5.Light box - Confirmation */

#request-detail {
  display: flex;
  flex-direction: column;
}

.rm-img img {
  width: 100%;
}

#book-sum h4 {
  margin-bottom: 5px;
}

.book-sum-del {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.book-sum-del p {
  margin-bottom: 30px;
  color: black;
}

.total-price p {
  font-size: 2rem;
  margin-top: 10px;
}

/* Guest Info Section */

.guest-info,
.billing-info,
.payment-info {
  margin: 10px 15px 10px 15px;
}

.guest-info-hl,
.billing-info-hl,
.payment-info-hl {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.guest-info h3,
.billing-info h3,
.payment-info h3 {
  margin-bottom: 20px;
}

.guest-info input,
.billing-info input {
  background-color: #f4f4f4;
  width: 315px;
}

.guest-info textarea {
  background-color: #f4f4f4;
}

.billing-info:nth-child(4) {
  width: 40px;
}

#guest-form,
#billing-form,
#card-info {
  display: flex;
  flex-wrap: wrap;
}

#guest-form ul,
#billing-form ul,
#card-info ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

#guest-form li,
#billing-form li,
#card-info li {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

#guest-form input,
#billing-form input,
#card-info input {
  width: 100%;
  flex: 1 0 auto;
}

#fname,
#email,
#request,
#billing-add,
#billing-fname {
  width: 100%;
}

#billing-city,
#billing-postcode {
  width: 120px;
}

.guest-form textarea {
  width: 100%;
}

.to-payment-btn,
.to-billing-btn {
  width: 100%;
}

.to-payment-btn input,
.to-billing-btn input {
  color: #f4f4f4;
}

.to-billing-btn input,
.to-payment-btn input {
  background-color: #9a2018;
}

/* Payment Section */

.card-bx {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.payment-box {
  position: relative;
  display: grid;
  place-items: center;
  width: 110px;
  height: 70px;
  background-color: #f4f4f4;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.payment-box i {
  position: absolute;
  font-size: 3rem;
}

.payment-box input {
  appearance: none;
  border: none;
  background-color: none;
}

.payment-box:has(input:checked) {
  background-color: #9a2018;
}

.payment-box:has(input:checked) i {
  color: #f4f4f4;
}

.payment-box:hover {
  background-color: #9a2018;
}

.payment-box:hover i {
  color: #f4f4f4;
}

#card-info {
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  border-radius: 9px;
  padding: 30px;
  margin-bottom: 60px;
}

#card-info input {
  background-color: white;
}

.card-info li {
  flex: 1 0 auto;
}

.card-detail {
  display: flex;
  flex-wrap: wrap;
}

#card-holder {
  width: 100%;
}

.exp {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

#card-exp-mo,
#card-ccv {
  width: 100px;
}

#card-exp-yr {
  width: 100px;
}
.to-confirm-btn input {
  color: white;
  width: 320px;
}

.to-confirm-btn input:active,
.to-payment-btn input:active,
.to-billing-btn input:active {
  animation-name: button;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#to-success {
  border-radius: 9px;
  width: 330px;
  height: 50px;
  margin: 30px 0;
  color: white;
  background-color: #9a2018;
  border: none;
  font-family: "Sanchez";
  transition: 0.2s ease-in-out;
}

#to-success:hover {
  background-color: #d92322;
}

/* Animation */

@keyframes button {
  0%,
  100% {
    border-radius: 9px;
    background-color: #9a2018;
    color: white;
  }

  50% {
    border-radius: 20px;
    background-color: #f4f4f4;
    color: black;
  }
}

#pay-now {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px 0;
}

.to-confirm-btn {
  width: 100%;
  height: 50px;
  background-color: #9a2018;
  border-radius: 9px;
  display: grid;
  place-items: center;
  color: #f4f4f4;
}

.input-bx {
  position: relative;
  display: flex;
}

.check-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-20px) translateY(20px);
}

input:valid + .check-icon::after {
  content: "\2713";
  border-radius: 50%;
  font-size: 1rem;
  background-color: #9a2018;
  color: white;
  padding: 4px 8px;
}

/* Light box - Confirmation */

#lb-cf {
  position: absolute;
  width: 360px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  scroll-margin-top: 125px;
  margin: 0 auto;
  border: 1px solid #b8b8b8;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: none;
}

#lb-cf:target {
  display: block;
}

#sc:target {
  display: block;
}

.lb-cf-bx {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.confirm {
  display: flex;
  flex-direction: column;
}

.room-headline-cf {
  position: absolute;
  box-sizing: border-box;
  width: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px 25px 5px 25px;
}

#cf-img {
  width: 412px;
  height: 300px;
  margin: 0;
  padding: 0;
  background-image: url(/images/chateau-assets/mobl/chateau-hero-m.jpg);
}

.cf-del {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-inline: 25px !important;
  gap: 30px;
}

.cf-del p {
  margin-bottom: 10px;
}

.cf-del h4 {
  margin-bottom: 5px;
}

.close-lb {
  position: absolute;
  font-size: 1.5rem;
  color: #f4f4f4;
  top: 0;
  right: 0;
  transform: translateX(-10px) translateY(10px);
}

.close-lb:hover {
  color: #b8b8b8;
}

.confirm-btn input {
  width: 100%;
  margin-bottom: 30px;
}

/* Light box - Booking Success  */

#sc {
  width: 330px;
  min-width: 300px;
  position: absolute;
  top: 76.5%;
  left: 50%;
  scroll-margin-top: 140px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
  background-color: white;
  border: 1px solid #b8b8b8;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: none;
}

#sc a {
  color: black;
}
.hr-det {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}

.hr-det p {
  font-size: 3rem;
  line-height: 50px;
  margin-top: 20px;
}

.lb-sc-bx {
  text-align: center;
}

.lb-sc-bx {
  text-align: center;
}

.lb-sc-bx img {
  width: 150px;
}
