/* Table of Contents */
/* 1. Filter Buttons and Container */
/* 2. Filter Layout */
/* 3. Filter Results - Room Type */
/* 4. Room Features */
/* 5. Dining Promotion */
/* 6. Package Promotion */
/* 7. Policy */

.filt-btn {
  display: flex;
  align-items: center;
  color: #9a2018;
}

.filt-btn p {
  font-size: 0.8rem;
}

.filt-btn i {
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

/* 1. Filter Buttons and Container */

#filt-btn {
  display: none;
}

.filt-btn {
  display: flex;
}

.filt-ctn {
  display: none;
}

#filt-btn:checked ~ .filt-ctn {
  display: block;
}

#filt-btn:checked ~ .filt-btn i {
  transform: rotate(90deg);
}

/* 2. Filter Layout */

.filt-ctn ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  color: #626262;
  padding: 0;
  margin-top: 30px;
  list-style-type: none;
}

.filt-ctn ul li {
  display: flex;
  flex: 1 0 150px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.filt-bx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #626262;
  height: 1rem;
  border-radius: 9px;
}

.filt-bx label {
  display: flex;
  width: 110%;
  height: 100%;
  justify-content: space-between;
  padding: 10px 10px;
  margin: -10px;
  border-radius: 9px;
}

.filt-bx select,
.filt-bx input {
  border: none;
  font-size: 0.75rem;
  color: #626262;
}

#private-tub,
#private-sauna,
#private-cabin,
#river-view,
#large-ceiling,
#steam-shower {
  appearance: none;
}

.date-filt input {
  margin: auto 0;
  text-align: right;
  height: 15px;
}

/* 3. Filter Results - Room Type */

.rdy-btn {
  padding: 15px 35px 15px 35px;
  color: white;
}

.not-rdy-btn:hover {
  opacity: 0.5;
}

.room-bx {
  position: relative;
}

.room-img {
  position: relative;
  width: 382px;
  height: 250px;
  background-color: #999;
  margin-top: 30px;
}

#chateau-img {
  background-image: url(/images/room-type-assets/mobl/chataeu-m.jpg);
}
#villas-img {
  background-image: url(/images/room-type-assets/mobl/villas-m.jpg);
}
#master-img {
  background-image: url(/images/room-type-assets/mobl/masters-m.jpg);
}
#exotic-img {
  background-image: url(/images/room-type-assets/mobl/exotics-m.jpg);
}
#chalet-img {
  background-image: url(/images/room-type-assets/mobl/chalets-m.jpg);
}
#juniors-img {
  background-image: url(/images/room-type-assets/mobl/juniors-m.jpg);
}

.room-name-bx {
  position: absolute;
  bottom: 85px;
  left: 15px;
}

.room-headline {
  position: absolute;
  box-sizing: border-box;
  width: 382px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px 25px 5px 25px;
}

.fucntion-bx i,
.room-function i {
  font-size: 0.8rem;
  color: #9a2018;
}

.fucntion-bx p,
.room-function p {
  font-size: 0.7rem;
}

.fucntion-bx {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.rm-del-p {
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
}

.rm-del-p span {
  font-size: 14px;
  line-height: 23px;
  color: #9a2018;
}

.rm-del-hl-img {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* 4. Room Features */

.rm-feature-ctn {
  background-color: #f4f4f4;
  margin-top: 30px;
  padding: 50px 30px;
  text-align: center;
}

.rm-feature-ctn h3 {
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 30px;
}

.call-cr-bx {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 120px;
  color: white;
  background-color: #9a2018;
}

.call-cr-bx i {
  font-size: 45px;
}

.call-cr-bx p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
}

.call-cr-bx p a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  color: white;
}

/* 5. Dining Promotion */

.pro-dinn {
  display: flex;
  margin: 0px;
}

#pro-dinn-rm-type-pg {
  display: flex;
  background-color: white;
  margin: 0px;
  color: black;
}

.pro-dinn p {
  padding: 10px 15px;
  align-self: flex-end;
}

.book-btn-ads {
  margin-top: 0;
  padding: 20px;
  text-align: center;
  background-color: #9a2018;
  color: white;
  transition: 0.2s;
}

.book-btn-ads a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: white;
}

.book-btn-ads:hover {
  background-color: #d92322;
}

/* 6. Package Promotion */

.pckg-pro-ctn {
  position: relative;
  margin-top: 30px;
  padding: 30px 10px;
  background-color: #ffce00;
  color: black;
}

.pckg-pro-ctn h3:first-child {
  text-decoration: underline;
}

.pckg-pro-ctn h3:not(:first-child) {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.pckg-pro-ctn img {
  width: 100%;
  margin: 20px 0;
}

.pckg-pro-ctn a {
  color: black;
}

.pckg-pro-ctn i {
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-20px) translateY(20px);
}

/* 7. Policy */

#policy {
  margin: 50px 0 25px 0;
  background-color: white;
  color: black;
}

#policy summary {
  font-size: 1rem;
  margin-top: 10px;
  list-style: none;
  background-color: #f4f4f4;
}

#policy summary i {
  padding: 10px;
  color: #626262;
  transition: 0.2s ease-in-out;
}

#policy summary::marker {
  text-decoration: none;
}

#policy h3 {
  padding-top: 5px;
  font-size: 30px;
}

#policy p {
  font-size: 14px;
  padding: 10px 0 20px 0;
}

#policy ol {
  margin: 20px;
  padding: 0;
}

#policy li {
  font-size: 14px;
}
#policy details[open] summary i {
  transform: rotate(90deg);
}

.pc-del-bx {
  margin-top: 20px;
}

.tdlr-bx {
  margin-bottom: 30px;
  padding: 30px;
  font-size: 14px;
  line-height: 21px;
  background-color: #f4f4f4;
}
